html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.name {
    font-family: wheat, plato, "Curlz MT", cursive, "Comic Sans MS";
    font-weight: bold;
    letter-spacing: 5px;
    font-size: xx-large;
}
.nav-link {
    color: black;
    font-family: Roboto, Arial;
}
.search-bar {
    width: 100%;
    padding: 0 2%;
}

.search-bar input[type="text"] {
    padding: 0.7rem;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 25%;
}

.search-bar button {
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
    border: none;
    background-color: rgb(192, 192, 192);
    color: black;
    cursor: pointer;
}
section {
    margin-left: 285px;
}
.fa {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: aqua;
}